$seashell: #f1f1f1;
$cod-gray: #080808;
$portica: #f4ed6c;

$Barlow: "Barlow Semi Condensed";
$NPS: "Neue Pixel Sans";

$DM-Sans: "DM Sans";
$Rochester: "Rochester";
$Roboto: "Roboto";
$Josefin: "Josefin Slab";

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
