// DM Sans
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("@/fonts/BarlowSemiCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Pixel Sans";
  src: url("@/fonts/NeuePixelSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
